<div class="container my-container">
  <div class="row ">
    <div class="col my-col z-depth-5">
    </div>
    <div class="col my-col z-depth-5">
    </div>
    <div class="col my-col z-depth-5">
      <button type="button" class="btn waves-light">
<md-dialog-content class="container">
<h1> What is going on here</h1>
    <app-skill-tree-popove [popOver]='skillConcept'></app-skill-tree-popove>
</md-dialog-content>
      This button


      </button>
    </div>
    <div class="col my-col z-depth-5">
    </div>
    <div class="col my-col z-depth-5">
    </div>
  </div>
  <div class="row">
    <div class="col my-col">
    </div>
    <div class="col my-col">
        <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
        triggers="focus" mdbRippleRadius>
        Some text
      </button>
    </div>
    <div class="col my-col .mx-auto">
      <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
        triggers="focus" mdbRippleRadius>
        Some text
      </button>
    </div>
    <div class="col my-col">
        <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
        triggers="focus" mdbRippleRadius>
        Some text
      </button>
    </div>
    <div class="col my-col">
    </div>
  </div>

  <div class="row">
      <div class="col my-col">
          <button type="button" class="btn btn btn-primary waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
          <button type="button" class="btn btn btn-primary waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col .mx-auto">
        <button type="button" class="btn btn btn-primary waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
          <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
          <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
    </div>

  <div class="row">
      <div class="col my-col">
      </div>
      <div class="col my-col">
          <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col .mx-auto">
        <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
          <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
      </div>
  </div>

  <div class="row">
      <div class="col my-col">
      </div>
      <div class="col my-col">
      </div>
      <div class="col my-col .mx-auto">
        <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
      </div>
      <div class="col my-col">
      </div>
  </div>
</div>
