.my-contanier{
  background: black;
  border: 1px black;
}
.my-col{
  background: lightgreen;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.finishedColor {
background-color:rgb(119, 140, 179);
}

.myTestButton{
  position: absolute;
  margin-left: 213px;
  margin-top: -1px;
  padding: 23px 12px;
}

.skillTreeImage{
max-width:35%;
}

.sequencingButton {
  position: absolute;
  top: 87px;
  left: 530px;
  height: 50px;
}

.repititionButton {
  position: absolute;
  top: 160px;
  left: 705px;
  height: 50px;
}

.selectionButton {
  position: absolute;
  top: 257px;
  left: 542px;
  height: 50px;
}

.variablesButton {
  position: absolute;
  top: 257px;
  left: 705px;
  height: 50px;
}

.booleanOperationButton {
  position: absolute;
  top: 355px;
  left: 522px;
  height: 50px;
}

.dataStructButton {
  position: absolute;
  top: 428px;
  left: 383px;
  height: 50px;
}

.functionsButton {
  position: absolute;
  top: 526px;
  left: 394px;
  height: 50px;
}

.projMangButton {
  position: absolute;
  top: 526px;
  left: 558px;
  height: 50px;
}
