<div class="container my-container" style="text-align:center; ">
<!--https://mdbootstrap.com/angular/advanced/modals/ -->
  <button type="button" class="btn btn-primary waves-light myTestButton" data-toggle="modal" data-target="#basicExample" (click)="fluid.show()" mdbRippleRadius>
    Do Something
  </button>
  <div mdbModal #fluid="mdb-modal" class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam, sunt, ea dolore
                    eum quod. Minima fugiat enim aut soluta est reprehenderit reiciendis quos, qui, amet
                    possimus laborum assumenda voluptate.
                </p>

                <ul class="list-group z-depth-0">
                    <li class="list-group-item justify-content-between">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Dapibus ac facilisis in
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Morbi leo risus
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Dapibus ac facilisis in
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Morbi leo risus
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluid.hide()" mdbRippleRadius>Close</button>
                <button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Save changes</button>
            </div>
        </div>
    </div>
</div>
  <img src="../../assets/Tree.png">

  <!-- <div class="row ">
    <div class="col my-col z-depth-5">
    </div>
    <div class="col my-col z-depth-5">
    </div>
    <div class="col my-col z-depth-5">
      <button type="button" class="btn waves-light">
<md-dialog-content class="container">
<h1> What is going on here</h1>
    <app-skill-tree-popove [popOver]='skillConcept'></app-skill-tree-popove>
</md-dialog-content>
      This button


      </button>
    </div>
    <div class="col my-col z-depth-5">
    </div>
    <div class="col my-col z-depth-5">
    </div>
  </div>
  <div class="row">
    <div class="col my-col">
    </div>
    <div class="col my-col">
        <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
        triggers="focus" mdbRippleRadius>
        Some text
      </button>
    </div>
    <div class="col my-col .mx-auto">
      <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
        triggers="focus" mdbRippleRadius>
        Some text
      </button>
    </div>
    <div class="col my-col">
        <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
        triggers="focus" mdbRippleRadius>
        Some text
      </button>
    </div>
    <div class="col my-col">
    </div>
  </div>

  <div class="row">
      <div class="col my-col">
          <button type="button" class="btn btn btn-primary waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
          <button type="button" class="btn btn btn-primary waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col .mx-auto">
        <button type="button" class="btn btn btn-primary waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
          <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
          <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
    </div>

  <div class="row">
      <div class="col my-col">
      </div>
      <div class="col my-col">
          <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col .mx-auto">
        <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
          <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
      </div>
  </div>

  <div class="row">
      <div class="col my-col">
      </div>
      <div class="col my-col">
      </div>
      <div class="col my-col .mx-auto">
        <button type="button" class="btn waves-light" mdbPopover="Saying something here" placement="right" popoverTitle="Dismissible popover"
          triggers="focus" mdbRippleRadius>
          Some text
        </button>
      </div>
      <div class="col my-col">
      </div>
      <div class="col my-col">
      </div>
  </div> -->
</div>
