<div class="container col-sm-4">
	<div class="panel panel-info" style="text-align: center; padding-top: 75px; padding-bottom: 75px; background-color: #DCE6F7; border-radius: 20px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
		<div class="panel-heading">
			<h3 class="panel-title">Welcome to Level Up!</h3>
		</div>
		<div class="panel-body">
			<p>Please select your role to login...</p>
			<a [routerLink]="['/welcome']" class="btn btn-success">Admin</a>
			<a [routerLink]="['/welcome']" class="btn btn-info">Student</a>
		</div>
	</div>
</div>