
<div class="container">
  <h1>This is the Welcome Page</h1>
  <p>"id: "{{ id }}</p>
  <p>"Content: "{{content}}</p>
</div>

<div *ngFor="let Sk of skillPath" class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{Sk.name}}</h3>
        </div>
        <div class="panel-body">
          <h3>Skill completed</h3>
          <div class="progress progress-stripped">
              <div class="progress-bar progress-bar-success " [style.width]="Sk.percentageCompleted + '%'"  ></div>
            </div>
            <a>{{Sk.percentageCompleted}}%</a>
        </div>
  </div>
</div>
