
<div class="container">
  <h1>This is the Welcome Page</h1>
</div>

<div *ngFor="let skill of skillPath" class="container">
    <div class="card card-body button" [routerLink]="[skill.URL]" >
        <div>
          <h3 class="card-title">{{skill.skillName}}</h3>
        </div>
        <div class="card-body">
          <h3>Concepts Completed</h3>
          <div class="progress progress-stripped">
              <div class="progress-bar progress-bar-success " [style.width]="skill.usersProgress + '%'"  ></div>
            </div>
            <a>{{skill.usersProgress}}%</a>
        </div>
  </div>
</div>

